* {
  box-sizing: border-box;
}

.body {
  background-color: rgb(240, 240, 240);
}

@media (max-width: 768px) {
  
   /*INDEX MOBILE*/

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 20, 20);
    color: rgb(200, 200, 200);
    font-family: "Alfa Slab One";
    padding: 2%;
    .rollygo {
      a {
        font-size: 1em;
        padding-top: 1em;
        text-decoration: none;
        color: rgb(100, 100, 100);
      }
    }
    .header-txt h3 {
      color: white;
      font-size: 1em;
      padding-top: 0.55em;
      text-decoration: none;
    }
  }

  .imgtxtindex {
    font-family: "Cinzel Decorative", cursive;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-weight: bold;
  }

  .div-img-index {
    .sushi20 {
      display: none;
    }

    .sushi22 {
      display: none;
    }

    .sushi24 {
      display: none;
    }

    .sushi15 {
      display: none;
    }

    .sushi9 {
      display: none;
    }

    .sushi11 {
      display: none;
    }
  }

  .te-esperamos {
    font-family: "Cinzel Decorative", cursive;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
  }

  /*CONTACTO MOBILE*/

  .contacto-page-title {
    font-family: "Cinzel Decorative", cursive;
    text-align: center;
    padding-top: 4vh;
    .contacto-page-title-txt {
      font-size: 3em;
    }
  }

  .contacto-page-txt {
    font-family: "Nanum Myeongjo", serif;
    text-align: center;
    .contacto-page-txt-1 {
      font-size: 1.1em;
      padding-top: 2vh;
    }
  }

  .form {
    font-family: "Cinzel Decorative", cursive;
    text-align: center;
    padding-top: 6vh;
  }

  .contactbutton {
    margin-top: 1.7vh;
  }

  /*LOCALES MOBILE*/

  .nuestros-locales {
    text-align: center;
    margin-top: 1em;
    text-decoration: underline solid 3px black;
    font-family: "Cinzel Decorative", cursive;
    font-size: 3em;
  }

  .locales-div {
    display: grid;
    grid-template-columns: 1fr;
    .locales {
      font-family: "Cormorant Garamond", serif;
      background-color: rgb(230, 230, 230);
      display: grid;
      grid-template-rows: 1fr 3em;
      width: 90%;
      text-align: center;
      justify-items: center;
      row-gap: 1em;
      margin-top: 3em;
      border: solid rgb(100, 100, 100) 3px;
      border-radius: 25px;
      justify-self: center;
    }

    .mapa-local {
      width: 100%;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .local {
      align-self: center;
    }
  }

  /*MENU MOBILE*/
  .menu-sushi-title {
    font-family: "Cinzel Decorative", cursive;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    text-decoration: underline;
    font-size: 3em;
  }

  .menu-sushi1 {
    display: grid 1fr;
    align-self: center;
    text-align: center;

    .menu-sushi1-img {
      border-radius: 20px;
      justify-self: end;
      height: auto;
      margin-top: 5em;
    }

    .menu-sushi1-txt {
      justify-self: start;
      align-self: center;
      list-style: none;
      margin-top: 1em;
      .menu-sushi1-nombre {
        font-family: "Cinzel Decorative", cursive;
        font-size: 1.5em;
        font-weight: bold;
      }
      .menu-sushi1-des {
        font-family: "Frank Ruhl Libre", serif;
        font-size: 1.2em;
      }
      .menu-sushi1_precio {
        font-family: "Frank Ruhl Libre", serif;
        font-size: 1.1em;
      }
    }
  }

  /*NOSOTROS MOBILE*/
  #nosotros {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url(../images/sushi8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .nosotros-txt {
      font-family: "Frank Ruhl Libre", serif;
      margin-top: 2em;
      width: 60%;
      margin-bottom: 10em;
      padding-bottom: 8em;
    }
  }
  .quienesomos {
    font-family: "Cinzel Decorative", cursive;
    margin-top: 5em;
    font-size: 2em;
  }

  /*FOOTER MOBILE*/

  .footer-distributed {
    padding-left: 1em;
    a {
      color: black;
    }
    padding-bottom: 20px;
  }

  .rollandgofooter {
    font-family: "Alfa Slab One", serif;
    padding-top: 1em;
    margin-top: 1em;
  }
}

/*MODO TABLET*/
@media (min-width: 769px) and (max-width: 1024px) {
  /*INDEX TABLET*/

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(20, 20, 20);
    color: rgb(200, 200, 200);
    font-family: "Alfa Slab One";
    padding: 2%;
    .rollygo {
      a {
        font-size: 2em;
        padding-top: 1em;
        text-decoration: none;
        color: rgb(100, 100, 100);
      }
    }
    .header-txt h3 {
      color: white;
      font-size: 2em;
      padding-top: 0.55em;
      text-decoration: none;
    }
  }

  .imgtxtindex {
    font-family: "Cinzel Decorative", cursive;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.5em;
  }

  .div-img-index {
    .sushi20 {
      display: none;
    }

    .sushi22 {
      display: none;
    }

    .sushi24 {
      display: none;
    }

    .sushi15 {
      display: none;
    }

    .sushi9 {
      display: none;
    }

    .sushi11 {
      display: none;
    }
  }

  .te-esperamos {
    font-family: "Cinzel Decorative", cursive;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
  }

  /*CONTACTO TABLET*/

  .contacto-page-title {
    font-family: "Cinzel Decorative", cursive;
    text-align: center;
    padding-top: 4vh;
    .contacto-page-title-txt {
      font-size: 3em;
    }
  }

  .contacto-page-txt {
    font-family: "Nanum Myeongjo", serif;
    text-align: center;
    .contacto-page-txt-1 {
      font-size: 1.8em;
      padding-top: 2vh;
    }
  }

  .form {
    font-family: "Cinzel Decorative", cursive;
    text-align: center;
    padding-top: 6vh;
    font-size: 1.5em;
  }

  .contactbutton {
    margin-top: 1.7vh;
  }

  /*LOCALES TABLET*/
  .nuestros-locales {
    text-align: center;
    margin-top: 1em;
    text-decoration: underline solid 3px black;
    font-family: "Cinzel Decorative", cursive;
    font-size: 3em;
        h2 {
            font-size: 1em;
        }
  }

  .locales-div {
    display: grid;
    grid-template-columns: 1fr;
    .locales {
      font-family: "Cormorant Garamond", serif;
      background-color: rgb(230, 230, 230);
      display: grid;
      grid-template-rows: 1fr 3em;
      width: 90%;
      text-align: center;
      justify-items: center;
      row-gap: 1em;
      margin-top: 3em;
      border: solid rgb(100, 100, 100) 3px;
      border-radius: 25px;
      justify-self: center;
    }

    .mapa-local {
      width: 100%;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .local {
      align-self: center;
      h2 {
        font-size: 2.5em;
      }
    }
  }

  /*MENU TABLET*/
  .menu-sushi-title {
    font-family: "Cinzel Decorative", cursive;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    text-decoration: underline;
    font-size: 3em;
  }

  .menu-sushi1 {
    display: grid 1fr;
    align-self: center;
    text-align: center;

    .menu-sushi1-img {
      border-radius: 20px;
      justify-self: end;
      height: auto;
      margin-top: 5em;
    }

    .menu-sushi1-txt {
      justify-self: start;
      align-self: center;
      list-style: none;
      margin-top: 1em;
      .menu-sushi1-nombre {
        font-family: "Cinzel Decorative", cursive;
        font-size: 2em;
        font-weight: bold;
      }
      .menu-sushi1-des {
        font-family: "Frank Ruhl Libre", serif;
        font-size: 1.7em;
      }
      .menu-sushi1-precio {
        font-family: "Frank Ruhl Libre", serif;
        font-size: 1.6em;
      }
    }
  }

  /*NOSOTROS TABLET*/
  #nosotros {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url(../images/sushi8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .nosotros-txt {
      font-family: "Frank Ruhl Libre", serif;
      margin-top: 2em;
      width: 60%;
      margin-bottom: 10em;
      padding-bottom: 8em;
      font-size: 2em;
    }
  }
  .quienesomos {
    font-family: "Cinzel Decorative", cursive;
    margin-top: 5em;
    font-size: 2.5em;
  }

  /*FOOTER TABLET*/

  .footer-distributed {
    padding-left: 1em;
    a {
      color: black;
    }
    padding-bottom: 20px;
  }

  .rollandgofooter {
    font-family: "Alfa Slab One", serif;
    padding-top: 1em;
    margin-top: 1em;
  }
}



/*MODO DESKTOP*/
@media (min-width: 1025px) {
  /*INDEX DESKTOP*/

  .header {
    display: grid;
    grid-template-columns: 60% 10% 10% 10% 10%;
    text-align: center;
    align-content: center;
    background-color: rgb(20, 20, 20);
    color: rgb(240, 240, 240);
    font-family: "Alfa Slab One";
    padding: 2%;

    .header-txt {
      color: rgb(100, 100, 100);
    }
    .rollygo {
      font-size: 50px;
      text-align: start;
      a {
        text-decoration: none;
        color: rgb(100, 100, 100);
      }
    }
  }

  .imgtxtindex {
    p {
      font-family: "Cinzel Decorative", cursive;
      font-size: 1.5em;
      text-align: center;
      font-weight: bold;
    }
  }

  .div-img-index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .te-esperamos {
    font-family: "Cinzel Decorative", cursive;
    text-align: center;
    font-weight: bold;
  }

  /*PAGINA DE CONTACTO DESKTOP*/

  .contacto-page-title {
    text-align: center;
    padding-top: 4vh;
    .contacto-page-title-txt {
      font-family: "Cinzel Decorative", cursive;
      font-size: 3em;
    }
  }

  .contacto-page-txt {
    text-align: center;
    .contacto-page-txt-1 {
      font-family: "Nanum Myeongjo", serif;
      font-size: 1.4em;
      padding-top: 2vh;
    }
  }

  .form {
    font-family: "Cinzel Decorative", cursive;
    text-align: center;
    padding-top: 6vh;
  }

  .contactbutton {
    margin-top: 1.7vh;
  }

  /*FOOTER DESKTOP*/

  .footer-distributed {
    margin-top: 5vh;
    padding-top: 2vh;
    border-radius: 1px;
    padding-left: 2vh;
    padding-bottom: 2vh;

    .footer-left a {
      color: black;
    }
  }

  /*LOCALES DESKTOP*/

  .nuestros-locales {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
    text-decoration: underline solid 5px black;
    font-family: "Cinzel Decorative", cursive;
    font-size: 3em;
  }

  .locales-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .locales {
      font-family: "Cormorant Garamond", serif;
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 90%;
      text-align: center;
      justify-items: center;
      row-gap: 5em;
      margin-top: 3em;
      border: solid rgb(50, 50, 50) 3px;
      border-radius: 25px;
      justify-self: center;
      background-color: rgb(230, 230, 230);
    }

    .mapa-local {
      width: 100%;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }

    .local {
      align-self: center;
    }
  }

  /*MENU DESKTOP*/
  .menu-sushi-title {
    font-family: "Cinzel Decorative", cursive;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    text-decoration: underline;
    font-size: 3em;
  }

  .menu-sushi1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;

    .menu-sushi1-img {
      border-radius: 20px;
      justify-self: end;
    }

    .menu-sushi1-txt {
      justify-self: start;
      align-self: center;
      list-style: none;
      .menu-sushi1-nombre {
        font-family: "Cinzel Decorative", cursive;
        font-size: 1.5em;
        font-weight: bold;
      }
      .menu-sushi1-des {
        font-family: "Frank Ruhl Libre", serif;
        font-size: 1.2em;
      }
      .menu-sushi1_precio {
        font-family: "Frank Ruhl Libre", serif;
        font-size: 1.1em;
      }
    }
  }

  /*NOSOTROS DESKTOP*/

  #nosotros {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url(../images/sushi8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 3em;
    .nosotros-txt {
      font-family: "Frank Ruhl Libre", serif;
      font-size: 1.2em;
      margin-top: 2em;
      width: 60%;
      margin-bottom: 10em;
      padding-bottom: 8em;
    }
  }
  .quienesomos {
    font-family: "Cinzel Decorative", cursive;
    margin-top: 5em;
  }
}
