/* 
#carouselExampleIndicators {
	width: 50%;
	height: auto;
}
*/

/*BODY*/

*{
	box-sizing: border-box;
}

.body {
	background-color: rgb(240, 240, 240);
}

@media (max-width: 1280px) {
 


	/*HEADER MOBILE*/

	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: rgb(20, 20, 20);
		color: rgb(200, 200, 200);
		font-family: 'Alfa Slab One';
		padding: 2%;
	}

	.rollygo {
		font-size: 1.9em;
		padding-top: 1em;
	}

	.contacto-header h3 {
		text-decoration: none;
		color: white;
		font-size: 0.85em;
		padding-top: 1.5em;
	}

	.menu-header h3 {
		text-decoration: none;
		color: white;
		font-size: 0.85em;
		padding-top: .55em;
	}

	.locales-header h3 {
		text-decoration: none;
		color: white;
		font-size: 0.85em;
		padding-top: .55em;
	}

	.nosotros-header h3 {
		text-decoration: none;
		color: white;
		font-size: 0.85em;
		padding-top: .55em;
	}



	/*BODY INDEX MOBILE*/

	.imgtxtindex {
		display: flex;
		text-align: center;
		flex-direction: column;
		font-weight: bold;
	}

	.imgtxtindex2 {
		display: flex;
		text-align: center;
		flex-direction: column;
		font-weight: bold;
	}

	.imgtxtindex3 {
		display: flex;
		text-align: center;
		flex-direction: column;
		font-weight: bold;
	}

	.div-img-index1 .sushi20 {
		display: none;
	}

	.div-img-index1 .sushi22 {
		display: none;
	}

	.div-img-index2 .sushi24 {
		display: none;
	}

	.div-img-index2 .sushi15 {
		display: none;
	}

	.div-img-index3 .sushi9 {
		display: none;
	}

	.div-img-index3 .sushi11 {
		display: none;
	}

	.te-esperamos {
		font-size: 1em;
		text-align: center;
		font-weight: bold;
	}




	/*PAGINA CONTACTO MOBILE*/

	.headercontacto h1 {
		font-size: 2.5em;
		text-align: center;
		padding-top: 1em;
	}

	.headercontacto p {
		text-align: center;
		padding-top: 1em;
		padding-left: 2em;
		padding-right: 2em;
	}

	.form {
		padding-left: 2em;
		padding-top: 3em;
		padding-bottom: 2em;
	}

	.contactbutton {
		margin-top: 1em;
	}

	.emailtel {
		padding-left: 1em;
	}


	/*FOOTER MOBILE*/

	.footer-distributed {
		padding-left: 1em;
	}

	.rollandgofooter {
		font-family: 'Alfa Slab One', serif;
		padding-top: 1em;
	}

	.footer-distributed a {
		color: black;
	}

}





/*MODO DESKTOP*/

/*INDEX DESKTOP*/

@media (min-width: 1281px){
	


	/*HEADER DESKTOP*/

	.header {
		display: grid;
		grid-template-columns: 60% 10% 10% 10% 10%;
		text-align: center;
		align-content: center;
		background-color: rgb(20, 20, 20);
		color: rgb(240, 240, 240);
		font-family: 'Alfa Slab One';
		padding: 2%;
	}

	.rollygo {
		font-size: 50px;
		text-align: start;
	}

	.header .contacto-header {
		color: rgb(100, 100, 100);
	}

	.header .menu-header {
		color: rgb(100, 100, 100);
	}

	.header .locales-header {
		color: rgb(100, 100, 100);
	}

	.header .nosotros-header {
		color: rgb(100, 100, 100);
	}




	/*BOSY INDEX DESKTOP*/

	.imgtxtindex p {
		font-size: 1.5em;
		text-align: center;
		font-weight: bold;
	}

	.imgtxtindex2 p {
		font-size: 1.5em;
		text-align: center;
		font-weight: bold;
	}

	.imgtxtindex3 p {
		font-size: 1.5em;
		text-align: center;
		font-weight: bold;
	}

	.div-img-index1 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.div-img-index2 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.div-img-index3 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.te-esperamos {
		text-align: center;
		font-weight: bold;
	}




	/*PAGINA DE CONTACTO DESKTOP*/

	/*BODY CONTACTO DESKTOP*/

	.contacto-page-title {
		text-align: center;
		padding-top: 4vh;
	}

	.contacto-page-title .contacto-page-title-txt {
		font-size: 3em;
	}

	.contacto-page-txt {
		text-align: center;
	}

	.contacto-page-txt .contacto-page-txt-1{
		font-size: 1.1em;
		padding-top: 2vh;
	}

	.form {
		text-align: center;
		padding-top: 6vh;
	}

	.contactbutton {
		margin-top: 1.7vh;
	}




	/*FOOTER DESKTOP*/

	.footer-distributed {
		margin-top: 5vh;
		padding-top: 2vh;
		border-radius: 1px;
		padding-left: 2vh;
		padding-bottom: 2vh;
	}

	.footer-distributed .footer-left a {
		color: black;
	}




	/*LOCALES DESKTOP*/

	.nuestros-locales {
		text-align: center;
		margin-top: 4em;
		margin-bottom: 4em;
		text-decoration: underline solid 5px black;
	}

	.locales {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.local1 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 90%;
		text-align: center;
		justify-items: center;
		row-gap: 5em;
		margin-top: 3em;
		border: solid gray 10px;
		border-radius: 25px;
		justify-self: center;
	}

	.local1 .local-unicenter {
		align-self: center;
	}

	.mapa-local1 {
		width: 100%;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}

	.local2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 90%;
		text-align: center;
		justify-items: center;
		row-gap: 5em;
		margin-top: 3em;
		border: solid gray 10px;
		border-radius: 25px;
		justify-self: center;
	}

	.local2 .local-paseo-mendoza {
		align-self: center;
	}

	.mapa-local2 {
		width: 100%;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}

	.local3 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 90%;
		text-align: center;
		justify-items: center;
		row-gap: 5em;
		margin-top: 3em;
		border: solid gray 10px;
		border-radius: 25px;
		justify-self: center;
	}

	.local3 .local-tigre {
		align-self: center;
	}

	.mapa-local3 {
		width: 100%;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}

	.local4 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 90%;
		text-align: center;
		justify-items: center;
		row-gap: 5em;
		margin-top: 3em;
		border: solid gray 10px;
		border-radius: 25px;
		justify-self: center;
	}

	.local4 .local-san-isidro {
		align-self: center;
	}

	.mapa-local4 {
		width: 100%;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}




	/*MENU DESKTOP*/

	.menu-sushi-title {
		text-align: center;
		margin-top: 2em;
		margin-bottom: 2em;
		text-decoration: underline;
	}

	.menu-sushi1 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 5em;
	}

	.menu-sushi1 .menu-sushi1-img {
		border-radius: 20px;
		justify-self: end;
	}

	.menu-sushi1 .menu-sushi1-txt {
		justify-self: start;
		align-self: center;
	}

	ul {
		list-style: none;
	}

	.menu-sushi1-txt .menu-sushi1-nombre {
		font-size: 1.5em;
		font-weight: bold;
	}

	.menu-sushi1-txt .menu-sushi1-des {
		font-size: 1.2em;
	}

	.menu-sushi1-txt .menu-sushi1_precio {
		font-size: 1.1em;
	}





	/*NOSOTROS DESKTOP*/

	#nosotros {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		text-align: center;
	}

	#nosotros {
		color: white;
		background-image: linear-gradient(
			0deg,
			rgba(0,0,0,0.8),
			rgba(0,0,0,0.8)
		)
		,url(../images/sushi8.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		margin-top: 3em;
	}

	.quienesomos {
		margin-top: 5em;
	}

	#nosotros .nosotros-txt {
		margin-top: 2em;
		width: 60%;
		margin-bottom: 10em;
		padding-bottom: 8em;
	}

}
